@import "../../stylus/config.styl";

.hero {
  position: relative;
}

.header {
  @extend $sectionPadding;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}

.ico {
  cursor: pointer;
}

.heroImage {
  max-height: 60vh;
  overflow: hidden;
}

.play {
  @extend $flexCenter;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  +forLarge() {
    width: 60px;
    height: 60px;
  }
}

.infoHead {
  @extend $sectionPadding;
}

.title {
  @extend $title;
}

.count {
  display: flex;
}

.countItem {
  @extend $flexCenter;
  font-weight: 700;
}

$icon {
  margin-right: .3rem;
}

.popular {
  @extend $icon;
  color: $c-loved-red;
}

.rating {
  @extend $icon;
  color: $c-rating-yellow;
}

.related {
  @extend $sectionPadding;
}

.nav {
  display: flex;
}

.navItem {
  position: relative;

  &.isActive {
    color: $c-primary;
    font-weight: 700;
  }

  &.isActive:after{
    content: '';
    display: inline-block;
    width: 90%;
    height: 5px;
    background: $c-primary;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 0);
  }
}

.navContent {
  padding-top: 1rem;
}
