@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Raleway', sans-serif;
  font-feature-settings: 'lnum' 1; // the more you know
  color: $c-text;
}

img {
  width: 100%;
  height: auto;
}

$sectionPadding {
  padding: 2.2rem;
  overflow: hidden;
  box-sizing: border-box;

  +forLarge() {
    padding: 4rem;
  }
}

$flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$title {
  font-size: 2rem;
  font-weight: 700;
  color: $c-title;

  +forLarge() {
    font-size: 2.5rem;
  }
}

:global {
  .flow > * + * {
    margin-top: 1.2rem;
  }

  .flow-col > * + * {
    margin-left: 1.2rem;
  }
}

