@import "../../stylus/config.styl";

$c-rating-yellow = #FAC600;
$c-loved-red = #F26E63;

.slide {
  display: grid;
  grid-auto-flow: column dense;
  column-gap: 1rem;

  &.isShowExtra {
    width: 120%;
  }
}

.tile {}

.tileImage {
  border-radius: 6px;
  overflow: hidden;
}

.tileInfo {
  margin-top: 1rem;
}

.count {
  font-size: 1rem;
  color: $c-text;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.1rem
}

.popular {
  color: $c-loved-red;
}

.rating {
  color: $c-rating-yellow;
}

.titleWrap {
  display: flex;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  align-items: center;
  color: $c-title;
  font-weight: 700;
  font-size: 1.2rem;
}

.link {
  color: $c-primary;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}
