@import "../../stylus/config.styl";

.search {}

.mobileSearch {
  @extend $sectionPadding;
}

.input {
  width: 100%;
}

.results {
  @extend $sectionPadding;
}

.films {
  display: grid;
  grid-auto-flow: column dense;
  column-gap: 1.5rem;
}

.filmLeft {}

.filmImg {
  width: auto;
  height: 350px;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.filmRight {
  box-sizing: border-box;
  padding: 1rem 0;
}

.filmTitle {
  @extend $title;
}

.countItem {
  display: flex;
  align-items: center;
  font-weight: 700;
}

$icon {
  margin-right: .3rem;
}

.popular {
  @extend $icon;
  color: $c-loved-red;
}

.noResults {
  @extend $title;
  text-align: center;
}
