@import "../../stylus/config.styl";

.search {}

.mobileSearch {
  @extend $sectionPadding;
}

.input {
  width: 100%;
}

.results {
  @extend $sectionPadding;
}

.films {
  display: flex;
  align-items: flex-start;
}

.filmLeft {}

.filmImg {
  width: auto;
  height: 200px;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-right: 1.5rem;

  +forLarge() {
    height: 300px;
  }
}

.filmRight {
  box-sizing: border-box;
  padding: .5rem 0;

  +forLarge() {
    padding: 1.5rem 0;
  }
}

.filmTitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: $c-title;

  +forLarge() {
    font-size: 2rem;
  }
}

.countItem {
  display: flex;
  align-items: center;
  font-weight: 700;
}

$icon {
  margin-right: .3rem;
}

.popular {
  @extend $icon;
  color: $c-loved-red;
}

.noResults {
  @extend $title;
  text-align: center;
}
