@import "../../stylus/config.styl";

$arrowBtnSize = 36px;

$arrowBtn {
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0,0,0, 0.35);
  background: #fff;
  border-radius: 4px;
  width: $arrowBtnSize;
  height: $arrowBtnSize;
  font-size: 2.5rem;
  opacity: .85;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
    transition: all .3s ease-in-out;
  }

  &:active {}

  &:focus {
    outline: 0;
  }
}

/* ==========================================================================
   Slider Elements
========================================================================== */

/* ==========================================================================
   Slider Props
========================================================================== */

/* Default
 ================ */
.wrapper {
  height: 100%;
}

.content {
  position: relative;

  &.withArrow {}
}

.slide {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.currentSlide {
  height: auto;
  opacity: 1;
  visibility: visible;

  &.next {
    animation: slideleft 0.5s forwards;
  }

  &.prev {
    animation: slideright 0.5s forwards;
  }
}

@keyframes slideleft {
  0% { transform: translateX(50%); }
  100% { transform: translateX(0%); }
}

@keyframes slideright {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.arrow {
  @extend $flexCenter;
  padding: 0;
  width: 100%;
}

.arrowLeft {
  @extend $arrowBtn;
  left: -($arrowBtnSize/2);
  color: $c-primary;

  i { padding-left: 6px; }
}

.arrowRight {
  @extend $arrowBtn;
  right: -($arrowBtnSize/2);
  color: $c-primary;
}
